---
bla: bla
---

{%  include header.html %}
    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <row>
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 content">

                            <p align="center"><img src="images/AM2_poster.png" width="800"/></p><br/>

                            <center><h1>AARTFAAC 2.0 Workshop, 11-12 February, 2019</h1></center>
                            <center><h3>ASTRON <a href="https://www.astron.nl/"></a><br /> Oude Hoogeveensedijk 4, 7991PD,
                                Dwingeloo, The Netherlands.</h3></center>

                            <center>ANNOUNCEMENT AND CALL FOR EXPRESSIONS OF INTEREST </center><br />

                            <p>		  We have built and are operating an add-on
                                facility to LOFAR called AARTFAAC. Its purpose is to monitor the full
                                sky over Exloo in low LOFAR low band (~30-80 MHz) at cadences as high
                                as 1 image/second in order to search for bright, short-duration
                                transients. AARTFAAC now routinely operates in its default configuration
                                using the six LOFAR super-terp stations (A6), as well as in its full mode
                                using additional six stations closest to the super-terp (A12). Feedback
                                from collaborators as well as the wider community underlines the many
                                varied applications of AARTFAAC in its present form. Extending the system 
                                further, may be useful to quite a few of our colleagues.</p>

                            <p> In order to present AARTFAAC's current capabilities to a select group
                                of colleagues and solicit ideas on how to proceed towards AARTFAAC 2.0 
                                we will hold a small workshop (up to 30 participants). The goal is fourfold:</p>

                            <ul>
                                <li> Present to you the current state of AARTFAAC, preliminary results,
                                    and the capabilities we have in mind for adding to it.</li>
                                <li>Define and discuss the science use cases for an upgrade
                                    of the real time AARTFAAC system, amongst which are:
                                    <ul>
                                        <li>Astrophysical transients</li>
                                        <li>21-cm cosmology</li>
                                        <li>Galactic science</li>
                                        <li>Space weather applications</li>
                                        <li>Solar science</li>
                                        <li>Monitoring observing conditions for LOFAR (state of ionosphere)</li>
                                        <li>Meteor characterization in the radio domain</li>
                                    </ul>
                                <li>Specify the system requirements needed
                                    for these use cases.</li>
                                <li> Hear from you what ideas you have for use of the AARTFAAC data, and
                                    what you would need, and can bring, in order to make that use
                                    possible. </li>
                                <li> Hear from you what ideas you might have for extending AARTFAAC's
                                    science, or improve its data taking or calibration, and what it
                                    would take to achieve that extension or improvement.</li>
                                <li> Define the AARTFAAC 2.0 roadmap.</li>
                            </ul>

                            <p>
                                We are in the process of putting together documentation
                                and other materials that describe the current state and
                                capabilities of AARTFAAC. We invite interested parties to join us; please
                                send a brief expression of interest to team@aartfaac.org, 
                                in which you indicate what topics you would like to bring to the meeting 
                                for discussion. We hope to be able to accommodate as many interested colleagues
                                as possible, however the discussion format of the workshop may require us to
                                perform some selection.
                            </p>

                            <a href="http://astron.nl/about-astron/route-astron/route-astron" target="top">Route to Venue</a>
                        </div>
                    </row>
                </div>

            </div>
        </div>

    </div>
{%  include footer.html %}