---
bla: bla
---

{%  include header.html %}
    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <row>
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 content">
                            <center><h1>AARTFAAC System Monitor</h1></center>
		    	    <p>AGC001                           AGC002</p>
		            <center><a href="https://proxy.lofar.eu/aartfaac/AGC001.png" target="_blank"><img src="https://proxy.lofar.eu/aartfaac/AGC001.png" width=85% /></a>
		            <a href="https://proxy.lofar.eu/aartfaac/AGC002.png" target="_blank"><img src="https://proxy.lofar.eu/aartfaac/AGC002.png" width=85% /></a></center>
                        </div>
                    </row>
                </div>

            </div>
        </div>

    </div>
{%  include footer.html %}:
