---
bla: bla
---

{%  include header.html %}
    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                        <div class="col-lg-6 col-lg-offset-3 content">
                            <h1>Related Projects</h1>

                            <ul>
                                <li><a href="http://www.astron.nl/" target="top">ASTRON</a></li>
                                <li><a href="http://www.lofar.org/" target="top">LOFAR</a></li>
                                <li><a href="http://www.oerc.ox.ac.uk" target="top">Oxford e-Research Centre</a></li>
                                <li><a href="http://www.transientskp.org/" target="top">Transients Key Project</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  include footer.html %}