body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #666666;
  color:#484848;
  margin: 0;
  padding: 0;
  min-width: 600px;
  background-color: #EEEEEE;
}

h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif}

#top {
  margin: 0px 10px 0px 11px;
  background-color: rgb(102,0,0);
  padding: 2px 10px 0px 6px;
  font-size: 0.8em;
  height: 1.8em;
  font-weight: bold;
  color: rgb(255,255,255);
  text-align: right;
}

#header {
    height:80px;
    background-color:#990000;
    color:#f8f8f8;
    padding: 15px 180px 15px 15px; 
    margin: 0px 10px 0px 11px;
    background-image:url(http://www.aartfaac.org/media/artie-cleaned-smaller.jpg); background-repeat:no-repeat; background-position:right top;
    position:relative;
}

#header h1 { padding: 0pt; margin: 0pt; font-size: 24px;}
#header h2 { color: #fff; font-size: 120%; margin-top: 0pt; margin-bottom: 0pt; margin-left: 1em; padding: 2px 10px 1px 0px }

#content { 
  border-color: rgb(215,215,215);
  border-style: solid;
  border-width: 1px;
  background-color: rgb(255,255,255);
  margin: 8px 10px 0px;
  padding: 6px 10px 10px;
}

#footer {
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}

#main-menu {
  position: absolute;
  left: 6px;
  bottom: 0px;
}

#main-menu ul {
  padding: 0pt;
  margin: 0pt;
}

#main-menu li {
  white-space: nowrap;
  padding: 0px;
  margin: 0px 2px 0px 0px;
  list-style-type: none;
  float: left
}

#main-menu li a {
  padding: 4px 10px;
  margin: 0pt;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255,255,255);
  background-color: rgb(102,0,0);
  display: block;
}

#main-menu li a:hover {
  text-decoration: underline;
}

#main-menu li a.selected {
  color: rgb(85,85,85);
  background-color: rgb(238,238,238);
  display: block;
}

a {
  color: rgb(42,86, 133);
  text-decoration: none;
}

a:hover {
  color: #990000;
  text-decoration: underline;
}

