<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<html>
<head>
  <link href="/media/aartfaac.css" media="all" rel="stylesheet" type="text/css" />
  <title>AARTFAAC :: {{ page.title }}</title>
</head>

<body>
<div id="top">
  <div id="date">Site updated: {{ site.time | date: "%d %B %Y" }}</div>
</div>
<div id="header">
  <h1>AARTFAAC</h1>
  <h2>Amsterdam&mdash;ASTRON Radio Transients Facility and Analysis Centre</h2>


  {{ page.content }}

<div id="footer">
  <a href="mailto:webmaster@aartfaac.org">webmaster@aartfaac.org</a>
</div>

</body>
</html>
